# Added by code-review-graph
.code-review-graph/
.claude
.vscode
**/.AGENTS.md
**/.CLAUDE.md
**/.GEMINI.md
**/.mcp.json
**/.opencode.json
**/.scratch
**/.env.local
.env
**/node_modules
**.next
**/exported_model/
**/exported_model_IndoBERT_8K/
**/exported_model_IndoBERT_Tuned/
**/exported_model_mclip/
**/exported_model_old/
**/exported_model_clip_old/
**/exported_model_clip/
**/images_8k/
**/images_full/
**images_old/

__pycache__/